<div class="top-bar">
  <h1>Budget Calc</h1>
</div>

<section class="total-budget-section">
  <h2 [ngClass]="{ 'negative': totalBudget < 0, 'positive': totalBudget > 0 }">{{ totalBudget | currency}}</h2>
</section>

<section class="add-item-section">
  <div class="add-item-container">
    <app-add-item-form (formSubmit)="onAddItem($event)"></app-add-item-form>
  </div>
</section>

<hr>

<app-budget-item-list [items]="budgetItems"
                      (deleteItem)="onDeleteItem($event)"></app-budget-item-list>
